body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #313243;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

/* HEADER */
.menu-fixo {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  transition: all 0.5s;
}

.menu-bg {
  background: #daac00;
  color: #ffffff;
}

.menu {
  max-width: 1160px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu a {
  color: #ffffff;
}

.menu-logo {
  padding: 10px 0 10px 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}

.menu-nav a {
  display: flex;
  font-size: 1.25em;
  font-weight: 500;
  margin: 0 10px;
  align-items: center;
}

.menu-nav a:hover {
  color: #00bec9;
}

.pesquisa {
  width: 275px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.pesquisa input {
  width: 200px;
  height: 48px;
  font-size: 1.125em;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #ffffff;
  border: none;
  background: #fcc302;
}

.pesquisa input::placeholder {
  color: #ffffff;
  height: 45px;
  font-size: 1.125em;
  font-weight: 500;
  text-align: center;
}

.pesquisa button {
  width: 75px;
  height: 50px;
  background: #00bec9;
  border: none;
  cursor: pointer;
}

.pesquisa button img {
  display: block;
  margin: 0 auto;
}

.pesquisa button:hover {
  background: #fcc302;
  border: 3px solid #00bec9;
}

@media (max-width: 595px) {
  .menu {
    margin: 0 auto;
    justify-content: center;
  }

  .menu-nav {
    padding: 0px 10px;
  }
  .menu-nav a {
    font-size: 1.08em;
    display: flex;
    font-weight: 500;
    margin: 0 10px;
    align-items: center;
  }

  .pesquisa {
    padding: 10px 0 10px 0;
  }
}

/* SOBRE */

.sobre {
  background: #fcc302;
}
.sobre-geral {
  max-width: 1160px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  justify-content: space-between;
}

.sobre-info {
  max-width: 580px;
  flex: 2 1 300px;
  margin: 0 10px;
  align-self: center;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  font-weight: bold;
  line-height: 1.3;
}

.sobre-info p {
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.sobre-contato {
  max-width: 400px;
  display: flex;
  padding: 60px 0;
}

.sobre-info a {
  width: 180px;
  background: #00bec9;
  display: block;
  margin: 0 10px;
  border: 4px solid #00bec9;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  padding: 10px 0;
  text-align: center;
}

.sobre-info a:hover {
  background: transparent;
  border: 4px solid #ffffff;
}

.sobre-img {
  max-width: 400px;
  flex: 1 1 260px;
  margin: 0 10px;
}

@media (max-width: 595px) {
  .sobre-img {
    max-width: 75%;
  }
}

/* SOBRE2 */

.sobre2 {
  background: #ffffff;
}
.sobre2-geral {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  color: #313243;
  justify-content: space-between;
  padding: 60px 0 100px 0;
}

.sobre2-info {
  max-width: 580px;
  flex: 2 1 300px;
  margin: 0 10px;
  align-self: center;
}

.sobre2-info h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
  font-weight: bold;
  line-height: 1.3;
}

.sobre2-info p {
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 1em;
}

.sobre2-contato {
  max-width: 180px;
  height: 60px;
  display: flex;
  align-items: center;
  float: left;
}

.sobre2-info a {
  width: 180px;
  background: #fcc302;
  display: block;
  border: 4px solid #fcc302;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  padding: 10px 0;
  text-align: center;
}

.sobre2-info a:hover {
  background: transparent;
  border: 4px solid #fcc302;
  color: #fcc302;
}

.sobre2-img {
  max-width: 400px;
  flex: 1 1 260px;
  margin: 20px 10px;
}

/* SOBRE LIST */

.sobre-list {
  background: #fcc302;
  color: #ffffff;
}

.sobre-list-geral {
  max-width: 1160px;

  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.sobre-list-geral h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
}

.sobre-list-geral p {
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: center;
  max-width: 760px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.sobre-list-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sobre-list-item {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}

.sobre-list-item h2 {
  font-size: 2em;
  text-align: center;
  border-bottom: 4px solid #daac00;
  margin-bottom: 10px;
}

.sobre-list-item p {
  font-size: 1.25em;
  line-height: 1.5;
  text-align: center;
}

.sobre-list-item img {
  border: 8px solid #daac00;
  margin-bottom: 10px;
}

/* SOBRE INFO2 */

.sobre2-info2 {
  max-width: 580px;
  flex: 2 1 300px;
  margin: 0 10px;
  align-self: center;
}

.sobre2-info2 h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
  font-weight: bold;
  line-height: 1.3;
  text-align: right;
}

.sobre2-info2 p {
  font-size: 1.25em;
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: right;
}

.sobre2-contato2 {
  max-width: 180px;
  height: 60px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  float: right;
}

.sobre2-info2 a {
  width: 180px;
  background: #fcc302;
  display: block;
  margin: 0 auto;
  border: 4px solid #fcc302;
  border-radius: 10px;
  color: #ffffff;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  padding: 10px 0;
  text-align: center;
}

.sobre2-info2 a:hover {
  background: transparent;
  border: 4px solid #fcc302;
  color: #fcc302;
}

/* PREÇO */

.preco-list-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

.preco-item {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}

.preco-preco {
  max-width: 150px;
  display: block;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 10px;
}

.preco-preco h2 {
  font-size: 2em;
  text-align: center;
  display: inline-block;
}

.preco-old {
  margin-left: 0;
  text-decoration: line-through;
}
.preco-new {
  margin-right: 0;
  float: right;
  color: #00bec9;
}

.preco {
  max-width: 180px;
  height: 60px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.preco a {
  width: 180px;
  background: #00bec9;
  display: block;
  margin: 0 auto;
  border: 4px solid #00bec9;
  border-radius: 50px;
  color: #ffffff;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25em;
  padding: 10px 0;
  text-align: center;
}

.preco a:hover {
  background: transparent;
  border: 4px solid #ffffff;
}

/* VET */

.vet-list {
  background: #ffffff;
  color: #313243;
  padding-bottom: 60px;
}

.vet-list-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vet-item {
  max-width: 300px;
  margin: 0 auto;
  padding: 15px 15px 15px 15px;
}

.vet-vet {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 10px;
}

.vet-vet h2 {
  font-size: 1.8em;
  text-align: center;
}

.vet-vet p {
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
}

.vet-vet img {
  display: flex;
  margin: 0 auto;
  margin-top: -80px;
  margin-bottom: 60px;
}

/* KPI */

.kpi {
  background-image: url("../img/vet-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.kpi-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
}

.kpi-interno {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
}

.kpi-itens {
  max-width: 300px;
  margin: 0 auto;
  padding: 30px 25px 30px 25px;
  display: block;
}

.kpi-itens img {
  margin: 0 auto;
}
.kpi-itens p {
  font-size: 2em;
  text-align: center;
  padding-top: 30px;
}

.kpi-itens h2 {
  text-align: center;
  font-size: 1.5em;
}

/* POSTS */

.post-container {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  max-width: 300px;
  display: block;
  margin: 10px auto 50px auto;
}

.post img {
  padding-bottom: 30px;
}

.post h2 {
  font-size: 1.4em;
  line-height: 1.3;
  margin-bottom: 3px;
}

.post h3 {
  font-size: 0.9em;
  color: #00bec9;
  text-transform: uppercase;
  margin-top: -0.5px;
}

.post p {
  font-size: 0.9em;
  line-height: 1.5;
  margin-bottom: 30px;
}

.post a {
  text-decoration: none;
  color: #00bec9;
  font-size: 1.3em;
  font-weight: bold;
}

.post a:hover {
  color: #fcc302;
}

/* FOOTER */

footer {
  background: #343434;
  color: #ffffff;
}

.footer {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

.lista {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.lista h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.lista li {
  font-size: 1.3em;
  line-height: 1.8;
}

.footer-direita {
  max-width: 520px;
  margin-right: 10px;
  margin: 0 auto;
  padding-top: 30px;
}
.footer-direita h2 {
  font-size: 2em;
  margin-right: 10px;
  text-align: right;
}

.footer-direita p {
  font-size: 1.3em;
  line-height: 1.8;
  text-align: right;
  margin-bottom: 25px;
  margin-right: 10px;
}

.pesquisa-footer {
  width: 365px;
  height: 65px;
  display: flex;
  flex-wrap: nowrap;
  float: right;
  margin-bottom: 30px;
  margin-right: 10px;
}

.footer-placeholder input {
  width: 300px;
  height: 65px;
  font-size: 1.125em;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #343434;
  border: none;
  background: #fcc302;
  display: block;
}

.footer-button {
  width: 65px;
  height: 65px;
  display: block;
}
.footer-button button {
  width: 65px;
  height: 65px;
  background: #00bec9;
  border: none;
  cursor: pointer;
  border: 2px solid #00bec9;
}

.footer-button button img {
  margin: 0 auto;
}

.footer-button button:hover {
  background: transparent;
}

.social-media {
  margin: 15px 10px auto auto;
  float: right;
}
